
<%= form_for @task, remote: true do |f|   %>
  
  <%= render 'shared/error_messages' %>

  <%= f.label :description %>
  <%= f.text_area :description, class: "form-control"%>
  <br>
  <%= f.label :deadline %>
  <%= f.text_field :deadline , id:'datetimepicker1', :value =>@task.deadline,  class: "form-control" %>
  <br>
  <%= f.submit  class: "btn btn-default" %>
  <%= link_to "Cancle", "#" , class: "btn btn-primary", id:"cancle" %>

<% end %>

