<li class="list-group-item list-group-item-info"  id="task-lili-<%= task.id %>">
  <!--<%= task.description %>

  <span class="deadline"><%= task.deadline %> </span>  -->


  <span class="has-tooltip" data-toggle="tooltip" title="<%= "Please Get It Done by #{task.deadline.strftime("%B %d, %Y %H:%M:%S")}" %>">
    <%= task.description.split("\n").first %> ......
  </span>


  <span class="edit">
    

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#task-<%= task.id %>-descriptions">
      Show
    </button>
      <!-- Modal -->
      <div class="modal fade" id="task-<%= task.id %>-descriptions" tabindex="-1" role="dialog" aria-labelledby="task-<%= task.id %>-label" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="task-<%= task.id %>-label">Task</h4>
            </div>
            <div class="modal-body">
              <%= simple_format(task.description) %>
            </div>


            <div class="modal-body">
              <%= "Due on #{task.deadline.strftime("%B %d, %Y %H:%M:%S")}"   %>
            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


    <%= link_to edit_task_path(task), remote: true do %>
      <button class="btn btn-primary btn-xs">Edit</button>
    <% end %>

    
    <%= link_to task, remote: true, method: :delete,
        data: { confirm: 'Are you sure?' } do %>
      <button class="btn btn-danger btn-xs">Delete!</button>
    <% end %>

  </span>


</li>


<%= render(:partial => 'tasksdisplay', :formats => ["js.erb"]) %>