<div class="row" style="border: 0px solid;">
  <div class="col-md-2 col-md-offset-1" style="border: 0px  solid;">
    <h2>Tasks</h2>
  </div>

  <div class="col-md-2 col-md-offset-4" style="border: 0px   solid;">



    <%= link_to new_task_path, class: 'btn btn-success', remote: true do %>
      <i class="glyphicon glyphicon-plus"></i> New Task
    <% end %>


  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-1" id="task-form" style="display:none;"></div>
</div>

<div class="row">
  <div class="col-md-7 col-md-offset-1" id="tasks"><%= render @tasks %></div>
</div>
