// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@import "bootstrap";


html {
  position: relative;
  min-height: 100%;
}

body { margin-bottom: 60px; }

#header {
  height: 60px;
  min-width: 100%;
  
  background-color: black;
  color: white;
}

.content { padding: 50px; }

#tasks, .deadline { padding-left: 15px; }

.edit {
  float: right;
  padding-right: 10px;
}

#task-form { padding-bottom: 15px; }

.btn-default{
	background-color: #9B111F;
	color: white;
}
