<!DOCTYPE html>
<html>
	<head>
	  <title>AjaxTask</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
  <body>
    <div class="container-fluid">
      <div class="row" id="header"><%= render 'layouts/header' %></div>
      <div class="row content"><%= yield %></div>
    </div>
  </body>
</html>